{% extends "base.html" %}

{% block title %}Liste des réservations{% endblock %}

{% block content %}

<div>
    <div class="text-sm breadcrumbs mb-6">
        <ul>
            <li><a href="#dashboard">Accueil</a></li>
            <li>Gestion des Réservations</li>
        </ul>
    </div>

    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6">
        <h1 class="text-3xl font-bold mb-4 sm:mb-0">Gestion des Réservations</h1>

        <a href="{% url 'ajouter_reservations' %}" class="btn btn-primary">
            Nouvelle réservation
        </a>
    </div>

    <div x-show="currentView === 'liste'" x-transition>
        <div class="card bg-base-100 shadow-xl">
            <div class="card-body">

                <div class="flex flex-col sm:flex-row gap-4 mb-6">
                    <form method="get" class="flex items-center w-full gap-4  md:w-1/2">
                        <input type="text" name="search" placeholder="Recherches..." value="{{ search }}"
                            class="input input-bordered w-full" />

                        <select name="statutR" class="select select-bordered">
                            <option value="" {% if not statutR %}selected{% endif %}>Tous les statuts</option>
                            <option value="en_attente" {% if role == "en_attente" %}selected{% endif %}>En attente</option>
                            <option value="confirmee" {% if role == "confirmee" %}selected{% endif %}>Confirmée</option>
                            <option value="annulee" {% if role == "annulee" %}selected{% endif %}>Annulée</option>
                        </select>

                        <button type="submit" class="btn btn-primary">Filtrer</button>
                    </form>

                </div>

                <div class="hidden md:block overflow-x-auto">
                    <table class="table table-zebra">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Numéro</th>
                                <th>Client</th>
                                <th>Voiture</th>
                                <th>Date début</th>
                                <th>Date fin</th>
                                <th>Montant (FCFA)</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in reservations %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ r.numero }}</td>
                                <td>{{ r.utilisateur.nom }} {{ r.utilisateur.prenom }}</td>
                                <td>{{ r.voiture.marque }} {{ r.voiture.modele }}</td>
                                <td>{{ r.dateDebut }}</td>
                                <td>{{ r.dateFin }}</td>
                                <td>{{ r.montant }} FCFA</td>
                                <td>
                                    {% if r.statutR == 'en_attente' %}
                                    <span class="badge badge-warning">En attente</span>
                                    {% elif r.statutR == 'confirmee' %}
                                    <span class="badge badge-success">Confirmée</span>
                                    {% else %}
                                    <span class="badge badge-error">Annulée</span>
                                    {% endif %}
                                </td>

                                <td>
                                    <a href="{% url 'modifier_reservations' r.id %}" 
                                        class="btn btn-sm btn-ghost">
                                        Modifier
                                    </a>
                                    <a href="{% url 'supprimer_reservations' r.id %}"
                                        class="btn btn-sm btn-ghost text-error">
                                        Supprimer</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="10">Aucune réservation trouvée.</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>

                <!-- Pagination -->
                <div class="flex justify-center mt-6">
                    <div class="btn-group">
                        {% if reservations.has_previous %}
                            <a href="?page={{ reservations.previous_page_number }}&q={{ search }}&statutR={{ statutR }}"
                                class="btn">«</a>
                        {% endif %}

                        {% for num in reservations.paginator.page_range %}
                            {% if num == reservations.number %}
                                <a href="?page={{ num }}&q={{ search }}&statutR={{ statutR }}" class="btn btn-active">{{ num }}</a>
                            {% else %}
                                <a href="?page={{ num }}&q={{ search }}&statutR={{ statutR }}" class="btn">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if reservations.has_next %}
                            <a href="?page={{ reservations.next_page_number }}&q={{ search }}&statutR={{ statutR }}" class="btn">»</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
{% endblock %}